.premium-container {
    margin-top: 2rem;
    padding: 20px;
    display: flex;
}

.premium-header {
    text-align: center;
    margin-bottom: 1.5rem;
    width: 40%;
}

.premium-content {
    /* background-color: var(--primary-color-light-second); */
    border-radius: 15px;
    padding: 10px;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    width: 60%;
}

.premium-box-container {
    width: 50%;
}

.premium-box {
    text-align: center;
    background: var( --toggle-color);
    /* background: rgb(243, 65, 32);
    background: linear-gradient(209deg, rgba(243, 65, 32, 1) 34%, rgba(248, 129, 80, 1) 41%, rgba(247, 192, 43, 1) 100%); */
    border-radius: 15px;
    margin: 10px;
    /* box-shadow: 0 0 10px 7px; */
    padding: 10px;
    position: relative;
    max-width: 100%;
}

.premium-box-header {
    max-width: 100%;
    height: 100px;
    background: linear-gradient(209deg, rgba(243, 65, 32, 1) 34%, rgba(248, 129, 80, 1) 41%, rgba(247, 192, 43, 1) 100%);
}