.premium-container {
    margin-top: 2rem;
    padding: 20px;
    display: flex;
    align-items: center;
}

.premium-header {
    text-align: center;
    margin-bottom: 1.5rem;
    width: 40%;
}

.premium-content {
    /* background-color: var(--primary-color-light-second); */
    border-radius: 15px;
    padding: 10px;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    width: 60%;
}

.premium-box-container {
    width: 50%;
}

.premium-box {
    text-align: center;
    background: var( --toggle-color);
    /* background: rgb(243, 65, 32);
    background: linear-gradient(209deg, rgba(243, 65, 32, 1) 34%, rgba(248, 129, 80, 1) 41%, rgba(247, 192, 43, 1) 100%); */
    border-radius: 15px;
    margin: 10px;
    /* box-shadow: 0 0 10px 7px; */
    padding: 10px;
    position: relative;
    max-width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.premium-box h3,
.premium-box p {
    color: var(--text-second-color);
}

.premium-box h3 {
    margin-top: 2rem;
    margin-bottom: 2.5rem;
    line-height: 1.4;
    align-items: center;
    z-index: 2;
    position: relative;
}

.premium-box-header {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 30%;
    position: absolute;
    width: 100%;
    height: 100px;
    left: 0;
    top: 0;
    /* background: linear-gradient(209deg, rgba(243, 65, 32, 1) 34%, rgba(248, 129, 80, 1) 41%, rgba(247, 192, 43, 1) 100%); */
    background: linear-gradient( 156deg, rgba(243, 65, 32, 1) 10%, rgba(248, 129, 80, 1) 42%, rgba(247, 192, 43, 1) 100%);
    z-index: 1;
}

.premium-year {
    background: linear-gradient(156deg, rgba(243, 65, 32, 1) 34%, rgba(248, 129, 80, 1) 41%, rgba(247, 192, 43, 1) 100%)
}


/* responsive */

@media (max-width:1024px) {
    .premium-container {
        flex-direction: column;
    }
    .premium-header {
        width: 100%;
    }
    .premium-content {
        width: 100%;
    }
    table {
        width: 100%;
        border-collapse: collapse;
    }
    table,
    thead,
    th,
    tbody,
    tr,
    td {
        border: 1px solid;
    }
}