.play-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: var(--primary-color-1st);
    z-index: 100;
    display: block;
}

.play-bar.active {
    display: none;
}

.bottom-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    position: relative;
}

.left-play-bar {
    padding: 10px;
    display: flex;
    align-items: center;
    width: 20%;
}

.left-play-bar img {
    width: 60px;
    height: 60px;
    border-radius: 10px;
}

.track-title {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.middle-play-bar {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.action-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 10px;
}

.action-button ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.action-button ul li {
    list-style: none;
    display: flex;
    align-items: center;
    color: var(--text-color);
}

.icon-previous,
.icon-next {
    font-size: 30px;
    cursor: pointer;
}

.icon-play {
    font-size: 40px;
    cursor: pointer;
}

.icon-next:hover,
.icon-previous:hover,
.icon-play:hover {
    color: var(--primary-color);
}

.elapsed-time,
.max-duration {
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.progress-bar {
    width: 100%;
}

.right-play-bar {
    width: 20%;
    padding: 10px;
}

.icon-vol {
    display: flex;
    align-items: center;
    font-size: 30px;
    color: var(--text-color);
    margin-right: 10px;
}

.icon-close {
    font-size: 20px;
    position: absolute;
    right: 0;
    top: 0;
    padding-right: 10px;
    transform: rotate(90deg);
    color: var(--text-color);
    cursor: pointer;
}

.maxDuration {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width:1024px) {}