.conten-nav-r {
    width: calc(100% - 240px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    position: fixed;
    right: 0;
    top: 0;
    background-color: var(--bg-r-color);
    z-index: 80;
}

.conten-nav-r ul {
    display: flex;
    align-items: center;
    list-style: none;
    margin-left: 10px;
}

.conten-nav-r ul li {
    display: flex;
    align-items: center;
    margin: 0 10px;
    cursor: pointer;
}

.nav-vip {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    padding: 1px 5px;
}

.nav-upload {
    fill: var(--text-color);
    padding-top: 10px;
}

.search-box {
    display: flex;
    justify-content: center;
    width: 80%;
}

.search-box .search {
    padding: 1px 10px;
    fill: var(--text-color);
    display: flex;
    align-items: center;
    z-index: 0;
    position: relative;
    width: 80%;
}

.search-box .search::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background: var(--primary-color-light-second);
    backdrop-filter: blur(5px);
    z-index: -1;
}

.search-box .search .bi {
    font-size: 13px;
    padding: 3px 0px 0px 10px;
}

.search-box .search input {
    background: none;
    outline: none;
    border: none;
    padding: 0px 10px;
    font-size: 1rem;
    color: var(--text-color);
}

.search-box .search input::placeholder {
    color: var(--text-color);
}

.user {
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 10px;
    background-color: var(--text-color);
}

.user img {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: 2px 2px 8px #131312;
}

@media (max-width: 1024px) {
    .conten-nav-r {
        width: calc(100% - 88px);
    }
}