@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
:root {
    --bg-r-color: #0b1320;
    --bg-l-color: #111727;
    --text-color: rgb(226, 220, 220);
    --text-second-color: #000;
    --text-warning-color: #e63d1f;
    --toggle-color: #fff;
    --primary-color: #f88150;
    --primary-color-1st: #1B365D;
    --primary-color-3rd: #f34120;
    --primary-color-light: #3a3b3c;
    --primary-color-light-second: rgb(184, 184, 184, .1);
    --primary-color-light-3rd: rgb(184, 184, 184, .3);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* color: var(--text-color); */
    text-decoration: none;
}

body {
    background: var(--bg-r-color);
}

.right {
    color: var(--text-color);
    margin-left: 240px;
}


/* .content-r {
    margin-top: 80px;
} */

.column {
    display: flex;
    flex-direction: column;
}

@media (max-width: 1024px) {
    .right {
        margin-left: 88px;
    }
}