@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
:root {
    --bg-r-color: #0b1320;
    --bg-l-color: #111727;
    --text-color: rgb(226, 220, 220);
    --text-second-color: #33d2dd;
    --toggle-color: #fff;
    --primary-color-light: #3a3b3c;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: var(--bg-r-color);
}

.right {
    color: var(--text-color);
    /* background: var(--bg-r-color); */
    margin-left: 240px;
    padding: 5px;
}

.content-r {
    margin-top: 80px;
}

@media (max-width: 1024px) {
    .right {
        margin-left: 88px;
    }
}